In [1]:
# Oasis Infobyte 
# Data Science Internship 
# Task 3 Car Price Prediction With Machine Learning 
# Submitted by - Sahil Sahu

In [2]:
# Problem Statement

In [3]:
# The price of a car depends on a lot of factors like the goodwill of the brand of the car,
# features of the car, horsepower and the mileage it gives and many more. Car price
# prediction is one of the major research areas in machine learning. So if you want to learn
# how to train a car price prediction model then this project is for you.

In [4]:
# Importing Necessary Libraries

In [5]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Importing the Given Dataset

In [7]:
print ("Given Dataset:")
df=pd.read_csv('../input/car-data/CarPrice_Assignment.csv')
df.head()

Given Dataset:

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
# Reading & Understanding the Given Dataset

In [9]:
df.shape

(205, 26)

In [10]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [11]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [12]:
# Dropping Unnecessary Columns 
# Getting a Concise Summary of the Dataframe

In [13]:
df=df.drop(columns=['car_ID','symboling','CarName'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fueltype          205 non-null    object
 1   aspiration        205 non-null    object
 2   doornumber        205 non-null    object
 3   carbody           205 non-null    object
 4   drivewheel        205 non-null    object
 5   enginelocation    205 non-null    object
 6   wheelbase         205 non-null    float64
 7   carlength         205 non-null    float64
 8   carwidth          205 non-null    float64
 9   carheight         205 non-null    float64
 10  curbweight        205 non-null    int64
 11  enginetype        205 non-null    object
 12  cylindernumber    205 non-null    object
 13  enginesize        205 non-null    int64
 14  fuelsystem        205 non-null    object
 15  boreratio         205 non-null    float64
 16  stroke            205 non-null    float64
 17  compressionratio  205 non-null    float64
 18  horsepower        205 non-null    int64
 19  peakrpm           205 non-null    int64
 20  citympg           205 non-null    int64
 21  highwaympg        205 non-null    int64
 22  price             205 non-null    float64
dtypes: float64(8), int64(6), object(9)
memory usage: 37.0+ KB

In [14]:
# Converting the 'Boreratio' Column to Integer Type

In [15]:
df['boreratio'] = df['boreratio'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fueltype          205 non-null    object
 1   aspiration        205 non-null    object
 2   doornumber        205 non-null    object
 3   carbody           205 non-null    object
 4   drivewheel        205 non-null    object
 5   enginelocation    205 non-null    object
 6   wheelbase         205 non-null    float64
 7   carlength         205 non-null    float64
 8   carwidth          205 non-null    float64
 9   carheight         205 non-null    float64
 10  curbweight        205 non-null    int64
 11  enginetype        205 non-null    object
 12  cylindernumber    205 non-null    object
 13  enginesize        205 non-null    int64
 14  fuelsystem        205 non-null    object
 15  boreratio         205 non-null    int64
 16  stroke            205 non-null    float64
 17  compressionratio  205 non-null    float64
 18  horsepower        205 non-null    int64
 19  peakrpm           205 non-null    int64
 20  citympg           205 non-null    int64
 21  highwaympg        205 non-null    int64
 22  price             205 non-null    float64
dtypes: float64(7), int64(7), object(9)
memory usage: 37.0+ KB

In [16]:
# Converting Additional Columns from float to int

In [17]:
df['stroke'] = df['stroke'].astype(int)
df['compressionratio'] = df['compressionratio'].astype(int)
df['price'] = df['price'].astype(int)
df['wheelbase'] = df['wheelbase'].astype(int)
df['carlength'] = df['carlength'].astype(int)
df['carwidth'] = df['carwidth'].astype(int)
df['carheight'] = df['carheight'].astype(int)

In [18]:
# Displaying the count of values in the 'fuelsystem' column

In [19]:
df.fuelsystem.value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64

In [20]:
# Checking for Missing Values in the DataFrame

In [21]:
df.isnull().sum()

fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [22]:
# Dropping the 'fuelsystem' Column from the DataFrame

In [23]:
df=df.drop(columns=['fuelsystem'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fueltype          205 non-null    object
 1   aspiration        205 non-null    object
 2   doornumber        205 non-null    object
 3   carbody           205 non-null    object
 4   drivewheel        205 non-null    object
 5   enginelocation    205 non-null    object
 6   wheelbase         205 non-null    int64
 7   carlength         205 non-null    int64
 8   carwidth          205 non-null    int64
 9   carheight         205 non-null    int64
 10  curbweight        205 non-null    int64
 11  enginetype        205 non-null    object
 12  cylindernumber    205 non-null    object
 13  enginesize        205 non-null    int64
 14  boreratio         205 non-null    int64
 15  stroke            205 non-null    int64
 16  compressionratio  205 non-null    int64
 17  horsepower        205 non-null    int64
 18  peakrpm           205 non-null    int64
 19  citympg           205 non-null    int64
 20  highwaympg        205 non-null    int64
 21  price             205 non-null    int64
dtypes: int64(14), object(8)
memory usage: 35.4+ KB

In [24]:
# Displaying the Count of Values in the 'enginetype' Column

In [25]:
df.enginetype.value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64

In [26]:
# Dropping the 'enginetype' column from the DataFrame
# Displaying the count of values in the 'cylindernumber' column

In [27]:
df=df.drop(columns=['enginetype'])
df.cylindernumber.value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64

In [28]:
# Displaying the count of values in the 'cylindernumber' column
# Displaying the count of values in the 'enginelocation' column
# Dropping the 'cylindernumber' column from the DataFrame

In [29]:
df=df.drop(columns=['cylindernumber'])
df.enginelocation.value_counts()

front    202
rear       3
Name: enginelocation, dtype: int64

In [30]:
# Converting 'enginelocation' values from categorical to binary (front: 1, rear: 0)

In [31]:
for i in range(0, 205):
    if df.loc[i, 'enginelocation'] == "front":
        df.loc[i, 'enginelocation'] = 1
    else:
        df.loc[i, 'enginelocation'] = 0

In [32]:
df.head(10)

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,gas,std,two,convertible,rwd,1,88,168,64,48,2548,130,3,2,9,111,5000,21,27,13495
1,gas,std,two,convertible,rwd,1,88,168,64,48,2548,130,3,2,9,111,5000,21,27,16500
2,gas,std,two,hatchback,rwd,1,94,171,65,52,2823,152,2,3,9,154,5000,19,26,16500
3,gas,std,four,sedan,fwd,1,99,176,66,54,2337,109,3,3,10,102,5500,24,30,13950
4,gas,std,four,sedan,4wd,1,99,176,66,54,2824,136,3,3,8,115,5500,18,22,17450
5,gas,std,two,sedan,fwd,1,99,177,66,53,2507,136,3,3,8,110,5500,19,25,15250
6,gas,std,four,sedan,fwd,1,105,192,71,55,2844,136,3,3,8,110,5500,19,25,17710
7,gas,std,four,wagon,fwd,1,105,192,71,55,2954,136,3,3,8,110,5500,19,25,18920
8,gas,turbo,four,sedan,fwd,1,105,192,71,55,3086,131,3,3,8,140,5500,17,20,23875
9,gas,turbo,two,hatchback,4wd,1,99,178,67,52,3053,131,3,3,7,160,5500,16,22,17859

In [33]:
# Displaying the count of values in the 'drivewheel' column

In [34]:
df.drivewheel.value_counts()

fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64

In [35]:
# Transforming Categorical to Numerical 
# Converting 'drivewheel' values from Categorical to Numeric (fwd: 1, 4wd: 0, rwd: 2)

In [36]:
for i in range(0, 205):
    df.loc[i, 'drivewheel'] = 1 if df.loc[i, 'drivewheel'] == "fwd" else 0
    df.loc[i, 'drivewheel'] = 2 if df.loc[i, 'drivewheel'] != "fwd" and df.loc[i, 'drivewheel'] != "4wd" else df.loc[i, 'drivewheel']

In [37]:
# Displaying the number of unique values in the 'drivewheel' column

In [38]:
df['drivewheel'].nunique

<bound method IndexOpsMixin.nunique of 0      2
1      2
2      2
3      2
4      2
      ..
200    2
201    2
202    2
203    2
204    2
Name: drivewheel, Length: 205, dtype: object>

In [39]:
# Dropping the 'carbody' and 'aspiration' columns from the DataFrame

In [40]:
df=df.drop(columns=['carbody','aspiration'])
df.doornumber.value_counts()

four    115
two      90
Name: doornumber, dtype: int64

In [41]:
# Displaying the count of values in the 'doornumber' column
# Converting 'doornumber' values from categorical to binary (four: 1, two: 0)

In [42]:
def convert_doornumber(doornumber):
    if doornumber == "four":
        return 1
    else:
        return 0

df['doornumber'] = df['doornumber'].apply(convert_doornumber)

In [43]:
df['doornumber']

0      0
1      0
2      0
3      1
4      1
      ..
200    1
201    1
202    1
203    1
204    1
Name: doornumber, Length: 205, dtype: int64

In [44]:
# Displaying the Count of Values in the 'fueltype' Column

In [45]:
df.fueltype.value_counts()

gas       185
diesel     20
Name: fueltype, dtype: int64

In [46]:
# Converting 'fueltype' values from categorical to binary (gas: 1, diesel: 0)

In [47]:
def convert_fueltype(fueltype):
    if fueltype == "gas":
        return 1
    else:
        return 0

df['fueltype'] = df['fueltype'].apply(convert_fueltype)

In [48]:
df['fueltype']

0      1
1      1
2      1
3      1
4      1
      ..
200    1
201    1
202    1
203    0
204    1
Name: fueltype, Length: 205, dtype: int64

In [49]:
df.head(10)

,fueltype,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,0,2,1,88,168,64,48,2548,130,3,2,9,111,5000,21,27,13495
1,1,0,2,1,88,168,64,48,2548,130,3,2,9,111,5000,21,27,16500
2,1,0,2,1,94,171,65,52,2823,152,2,3,9,154,5000,19,26,16500
3,1,1,2,1,99,176,66,54,2337,109,3,3,10,102,5500,24,30,13950
4,1,1,2,1,99,176,66,54,2824,136,3,3,8,115,5500,18,22,17450
5,1,0,2,1,99,177,66,53,2507,136,3,3,8,110,5500,19,25,15250
6,1,1,2,1,105,192,71,55,2844,136,3,3,8,110,5500,19,25,17710
7,1,1,2,1,105,192,71,55,2954,136,3,3,8,110,5500,19,25,18920
8,1,1,2,1,105,192,71,55,3086,131,3,3,8,140,5500,17,20,23875
9,1,0,2,1,99,178,67,52,3053,131,3,3,7,160,5500,16,22,17859

In [50]:
# Extracting features (independent variables) from the DataFrame

In [51]:
x=df.iloc[:,0:-1]
x

,fueltype,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,0,2,1,88,168,64,48,2548,130,3,2,9,111,5000,21,27
1,1,0,2,1,88,168,64,48,2548,130,3,2,9,111,5000,21,27
2,1,0,2,1,94,171,65,52,2823,152,2,3,9,154,5000,19,26
3,1,1,2,1,99,176,66,54,2337,109,3,3,10,102,5500,24,30
4,1,1,2,1,99,176,66,54,2824,136,3,3,8,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1,1,2,1,109,188,68,55,2952,141,3,3,9,114,5400,23,28
201,1,1,2,1,109,188,68,55,3049,141,3,3,8,160,5300,19,25
202,1,1,2,1,109,188,68,55,3012,173,3,2,8,134,5500,18,23
203,0,1,2,1,109,188,68,55,3217,145,3,3,23,106,4800,26,27
204,1,1,2,1,109,188,68,55,3062,141,3,3,9,114,5400,19,25

In [52]:
# Extracting the target variable (dependent variable) from the DataFrame

In [53]:
y=df.iloc[:,-1]
y

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: int64

In [54]:
# Train Test Split
# Splitting the data into training and testing sets

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
x_test

,fueltype,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
15,1,1,2,1,103,189,66,55,3230,209,3,3,8,182,5400,16,22
9,1,0,2,1,99,178,67,52,3053,131,3,3,7,160,5500,16,22
100,1,1,2,1,97,173,65,54,2302,120,3,3,8,97,5200,27,34
132,1,0,2,1,99,186,66,56,2658,121,3,3,9,110,5250,21,28
68,0,1,2,1,110,190,70,58,3750,183,3,3,21,123,4350,22,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1,0,2,1,95,169,65,49,2380,70,3,3,9,101,6000,17,23
128,1,0,2,0,89,168,65,51,2800,194,3,2,9,207,5900,17,25
76,1,0,2,1,93,157,64,50,1918,92,2,3,9,68,5500,37,41
144,1,1,2,1,97,172,65,54,2385,108,3,2,9,82,4800,24,25
104,1,0,2,1,91,170,67,49,3071,181,3,3,9,160,5200,19,25

In [57]:
# Scaling 
# Standardizing the features using StandardScaler

In [58]:
from sklearn.preprocessing import StandardScaler

In [59]:
scaler=StandardScaler()

In [60]:
x_train_scaled=scaler.fit_transform(x_train)

In [61]:
x_test_scaled=scaler.fit_transform(x_test)

In [62]:
x_test_scaled

array([[ 0.38490018,  0.87831007,  0.        , ...,  0.76952735,
        -1.31581608, -1.20210967],
       [ 0.38490018, -1.13855009,  0.        , ...,  0.99404827,
        -1.31581608, -1.20210967],
       [ 0.38490018,  0.87831007,  0.        , ...,  0.32048551,
         0.11087163,  0.27863469],
       ...,
       [ 0.38490018, -1.13855009,  0.        , ...,  0.99404827,
         1.40786045,  1.14240223],
       [ 0.38490018,  0.87831007,  0.        , ..., -0.57759818,
        -0.27822502, -0.83192358],
       [ 0.38490018, -1.13855009,  0.        , ...,  0.32048551,
        -0.92671943, -0.83192358]])

In [63]:
# Linear Regression Because the Data has Linear Behaviour 
# Creating a Linear Regression model, fitting it on the training data, and making predictions

In [64]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train_scaled,y_train)

LinearRegression()

In [65]:
# Calculating the R-squared score to evaluate the model's performance

In [66]:
y_pred=lr.predict(x_test_scaled)
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8136352911249098

In [67]:
# The Code performs Data Preprocessing and Feature Engineering, preparing the data for training a Linear Regression Model to predict car prices. 
# The steps include dropping irrelevant columns, converting categorical variables to numeric, splitting the data into training and testing sets, and standardizing the features before fitting the linear regression model. 
# The final R-squared score is used as an evaluation metric for the model's performance.

In [68]:
# Thankyou